.resource-monitor{
    height: auto;
    /* border: 1px solid var(--border); */
    /* border-radius: 8px; */
    margin-top: 12px;
}

.execution-status-container{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
}
.execution-status{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 8px;
}


.running-img{
    animation: rotate-clockwise 2s linear infinite;
}

@keyframes rotate-clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.time-elapsed-container{
    color: var(--text-color);
    text-align: right;
    /* border: 1px solid black; */
}
.time-elapsed-timer{
    font-size: 20px;
    line-height: 20px;
}
.time-elapsed-container span{
    font-weight: 600;
    color: black;
}

.time-elapsed-heading{
    font-size: 14px;
}

.resource-monitor-container{
    height: 200px;
    border: 1px solid var(--border);
    margin-top: 6px;
    border-radius: 8px;
}

